.prices {
font-size:14px;
margin-bottom: 40px;
&__title-in-item{
  display: flex;
}
&__text {
  display: flex;
}

&__header {
  display: flex;
  height: 80px;
  background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
  
  align-items: center;
  padding-left: 24px;
  margin-bottom: 16px;
  margin:0 auto;
  }
  &__footer{
    padding: 16px;
  }
  &__desc {
    color:#1B1C21;
    margin-bottom: 20px;
  }
  &__item {
    background-color: #FFFFFF;
    width: 260px;
    height: 215px;
    border-radius: 6px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  &__item--left{
    margin-bottom: 16px;
  }
  &__item--center{
    margin-bottom: 16px;
  }
  &__item--for-desktop{
    display: none;
  }
  &__title-in-item {
    font-size: 14px;
    color: #7E7E82;
    margin-bottom: 4px;
  }
  &__text{
margin-bottom: 16px;
&:last-child{
  margin-bottom: 0;
}
  }

  &__offer {
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    color: #1B1C21;
    position: relative;
    &::after{
      content: '';
      background-image: url('../img/arrowRight.svg');
      background-repeat: no-repeat;
      position: absolute;
      color: #FF3E79;
      width: 8px;
      height: 12px;
margin-left: 10px;
top: 5px;
@media screen and (max-width:325px) {
    top: 27px;
}
    }
    
  }
@media screen and (min-width:768px){
  padding: 24px;
  &__list {
    display: flex;

    flex-direction: column;
    justify-content: space-between;

  
  }
 
&__text--mobile{
  display: none;
}
&__item{
  display: flex;
  flex-direction:row ;
  height: 60px;
  justify-content: space-between;
  min-width: 100%;

  &::after {
    content: "";
    background-image: url('../img/line-in-prices.svg');
    min-width: 95%;
    height: 1px;
    right: 20px;
    position: absolute;
    top:55px
    
  }

  &:first-child::after{
    content: '';
    background-image: none;
  }

  &:last-child::after{
    content: '';
    background-image: none;
  }
  
}



  

  &__title-in-item--mobille{
    display: none;
  }
  .prices__item--dark-back {
    background-color: #F8F8F8;
  }

}
}

.button-rose{
  background: #FF3E79;
  padding: 7px 12px;
  border-radius: 16px;
  border-color: transparent;
  width: 119px;
  height: 32px;
  color: #FFFFFF;
  text-transform: uppercase;
  cursor: pointer;
  align-self: flex-end;
  display: flex;
  justify-content: left;
  position: relative;
 left: 110px;

  bottom:25px;

  &::after {
    content: '';
    background-image: url('../img/arrowRightWhite.svg');
    width: 7px;
    height: 10px;
    align-self: center;
   margin-left: 17px;
   color: #FFFFFF;
  }


}

@media screen and (min-width:768px){
  .button-rose{
    position: static;
 margin-top:-3px;
// right: 20px;
  }
  .button-rose--moblie{
    opacity: 0;
  }
  .prices__item--right {
    display: flex;
    justify-content: space-between;
     min-width: 100px;
  }
  
  .prices__item--left {
    min-width:365px;
  }
.prices__item--center {
  min-width: 100px;
}
}



